<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <aside class="">
        <br>
        <ul class="list-group">
          <button type="button" *ngFor="#subject of subjects; #i = index"
                  class="list-group-item" (click)="setSelectedSubject(i)">
            <span class="badge">{{subject.code}}</span> {{subject.name}}
          </button>

        </ul>
      </aside>
    </div>
    <div class="col-xs-12 col-md-9">
      <edit-subject  *ngIf="selectedSubject" [subject]="selectedSubject"></edit-subject>
    </div>
  </div>

</div>
