.no-border {
  border: 0;
  box-shadow: none;
}

.list-item-addon {
  margin-left: 0.5em;
}


#page-header {}

#page-wrapper {
  margin-top: 3.65em;
  position: absolute;
  left: 0;
  right: 0;
}




.side-bar {
  padding: 0;
}
