.no-border {
  border: 0;
  box-shadow: none;
}

.list-item-addon {
  margin-left: 0.5em;
}


#page-header {}

#page-wrapper {
  margin-top: 3.65em;
  position: absolute;
  left: 0;
  right: 0;
}




.side-bar {
  padding: 0;
}


.clickable {
  cursor: pointer;
}





.nav-pills > li > a {
  padding: 0.3em 0.6em;
}

.form-signin, .form-forgot-pw {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control, .form-forgot-pw .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-forgot-pw input {
  margin-bottom: 10px;
}


.error {
  color: #d9534f;
}
