<div class="form-group row">
  <label class="form-control-label" [attr.for]="'input-'+label" class="col-sm-2" >{{label}}</label>
  <div class="col-sm-10">
    <ul class="list-group">
      <li *ngFor="let user of users; let i = index" class="list-group-item">{{user.firstname}} {{user.lastname}}
        <a class="close" (click)="removeUser(user)"><span class="glyphicon glyphicon-remove"></span></a>
      </li>

      <li class="list-group-item" style="padding: 0;">
        <div class="input-group">
          <input type="text" id="input-{{label}}" class="form-control no-border" [(ngModel)]="query" (keydown.enter)="add()" (keyup)="suggest()"  autocomplete="off" />
          <div class="input-group-btn">
            <button class="btn btn-success" type="button" (click)="add()">Add</button>
          </div>
        </div>
        <ul class="list-group" *ngIf="suggestions.length" style="position: absolute; z-index: 1000">
          <a class="list-group-item" *ngFor="let sug of suggestions" (click)="addUser(sug)" >{{sug.firstname}} {{sug.lastname}}</a>
        </ul>
      </li>
    </ul>
  </div>
</div>
