<form class="">
  <fieldset>
    <legend> User <span *ngIf="new" class="label label-success"></span></legend>
    <p class="error">
      {{message}}
    </p>
    <!-- Firstname -->
    <div class="form-group row">
      <label class="form-control-label col-sm-2" for="firstname">Firstname</label>
      <div class="col-sm-10" >
        <input class="form-control"  id="firstname" [(ngModel)]="user.firstname" required [disabled]="!editable['name']">
      </div>
    </div>

    <!-- Lastname -->
    <div class="form-group row">
      <label class="form-control-label col-sm-2" for="lastname">Lastname</label>
      <div class="col-sm-10">
        <input class="form-control" id="lastname" [(ngModel)]="user.lastname" required [disabled]="!editable['name']">
      </div>
    </div>
    <hr>
  </fieldset>

  <fieldset>
    <!-- Email -->
    <div class="form-group row">
      <label class="form-control-label col-sm-2" for="email">Email</label>
      <div class="col-sm-10">
        <input class="form-control has-success" type="email" id="email" [(ngModel)]="user.email" placeholder="@" [disabled]="!editable['email']" required>
      </div>
    </div>


    <!-- Class of -->
    <div class="form-group row">
      <label class="form-control-label col-sm-2" for="classOf">Class of</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" id="classOf" [(ngModel)]="user.classOf" [disabled]="!editable['classOf']" >
      </div>
    </div>


    <!-- Rights -->
    <div class="form-group row">
      <label class="form-control-label" class="col-sm-2" for="classOf">Rights</label>
      <div class="col-sm-10">
        <select class="selectpicker form-control" name="rights" [(ngModel)]="user.rights" [disabled]="!editable['rights']">
          <option *ngFor="#right of ['Student', 'Teacher', 'Admin'];" [value]="right">
            {{right}}
          </option>
        </select>
      </div>
    </div>
    <hr>
  </fieldset>


  <!-- Cancel Save buttons -->
  <div class="row">
    <div class="text-right col-sm-12" >
      <button class="btn btn-default btn-sm" type="button" (click)="canceled.emit(null)">Cancel</button>
      <button class="btn btn-success btn-sm" type="submit" (click)="onSubmit()">Save</button>
    </div>
  </div>
</form>
