<h2>Queue</h2>
<button (click)="toggleQueueButton()">Activate/Deactivate Queue</button>
<div *ngIf="queue?.active">
  <div>
    Users in subject: <br>
    <select multiple>
      <option (click)="selectUser(user)" *ngFor="#user of students">Hello{{user._id}}{{user.firstname}} {{user.lastname}}</option>
    </select>
  </div>
  <div>
    User to add: <br>
    <ul>
      <li *ngFor="#selectedUser of usersSelected" (click)="unselectUser(selectedUser)">Good Bye {{selectedUser._id}} {{selectedUser.firstname}} {{selectedUser.lastname}}</li>
    </ul>
  </div>
  <button (click)="addQueueElement()">Queue</button>
  <ul *ngFor="#element of queue?.list">
    <li> <queue-element [element]="element" (removeElement)="removeQueueElement(element)">Loading queue-element...</queue-element></li>
  </ul>
</div>
<div *ngIf="!queue?.active">
  <h2>The queue is not active</h2>
</div>
