<br><br>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <form >
        <div class="form-group">
          <label for="">Old Password</label>
          <input type="password" class="form-control" placeholder="Old Password">
        </div>
        <div class="form-group">
          <label for="">New Password</label>
          <input type="password" class="form-control" placeholder="New Password">
        </div>
        <div class="form-group">
          <label for="">Confirm Password</label>
          <input type="password" class="form-control" placeholder="Confirm Password" >
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-offset-5 col-xs-offset-8 text-right">
      <button type="button" class="btn btn-primary">Save</button>
    </div>
  </div>
</div>
