<!-- Requirements -->
<div class="form-group row">
  <div class="col-sm-2">
    <label class="form-control-label">Tasks</label>
  </div>
  <div class="col-sm-10 text-right" >
    <a class="close" (click)="add()"><span class="glyphicon glyphicon-plus"></span></a>
  </div>
</div>


<div class="row">
  <div class="col-sm-offset-2 col-sm-10" >
    <table class="table">
      <thead>
        <tr>
          <th style="width: 3em">
            #
          </th>
          <th>
            Title
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="#task of tasks; #i = index; #last = last"  draggable="true">
          <td>
            {{task.number}}
          </td>
          <td>
            <input type="text" class="form-control no-border" [(ngModel)]="task.title" placeholder="Title">
          </td>
          <td style="width: 7em">
            <a class="close list-item-addon" (click)="remove(i)">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
            <a class="close list-item-addon" (click)="moveTaskDown(i)" *ngIf="!last">
              <span class="glyphicon glyphicon-triangle-bottom"></span>
            </a>
            <a class="close list-item-addon" (click)="moveTaskUp(i)" *ngIf="i != 0">
              <span class="glyphicon glyphicon-triangle-top"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
