<!-- Requirements -->
<div class="form-group row">
  <div class="col-sm-2">
    <label class="form-control-label">Tasks</label>
  </div>
  <div class="col-sm-10 text-right" >
    <button class="btn btn-success btn-xs" type="button" (click)="add()">+</button>
  </div>
</div>


<div class="row" *ngFor="#task of tasks; #i = index">
  <div class="col-xs-offset-2 col-xs-1" >
    <label class="form-control-label">{{task.number}}</label>
  </div>
  <div class="col-xs-6">
    <input type="text" class="form-control" [(ngModel)]="task.title">

  </div>
  <div class="col-xs-3 text-right">
    <div class="btn-group btn-group-sm">
        <a class="btn btn-default" type="button" name="button" (click)="moveTaskUp(i)">
          <span class="glyphicon glyphicon-triangle-top"></span>
        </a>
        <a class="btn btn-default" type="button" name="button" (click)="moveTaskDown(i)">
          <span class="glyphicon glyphicon-triangle-bottom"></span>
        </a>
        <a class="btn btn-danger" type="button" name="button" (click)="remove(i)">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
    </div>





  </div>
</div>
