<hr>
<h2>Queue</h2>
<button *ngIf="teacherOrAssistent" class="btn btn-primary btn-md" (click)="toggleQueueButton()">Activate/Deactivate Queue</button>

<div *ngIf="queue?.active">
  <div class="btn-group btn-group-sm" *ngIf="!teacherOrAssistent">
    <button class="btn btn-primary btn-md"  *ngIf="!myUserInQueue" (click)="addQueueElement()">Queue</button>
    <button class="btn btn-primary btn-md" *ngIf="myUserInQueue" (click)="deleteFromQueue()">Remove me</button>
  </div>
  <br><br>
  <table class="table" *ngIf="!(myUserInQueue || teacherOrAssistent) " (change)="checkMyUserInQueue()">
    <tr>
      <td>
        <b>Users in subject</b>
      </td>
      <td>
        <b>Add friends</b>
      </td>
      <td>
        <b>Task</b>
      </td>
    </tr>
    <tr>
      <td>
        <div>
          <select size="5" class="form-control">
            <option *ngFor="#user of studentsNotInQueue" (click)="selectUser(user)" draggable="true">{{user.firstname}} {{user.lastname}}</option>
          </select>
        </div>
      </td>
      <td>
        <div>
          <select size="5" class="form-control">
            <option *ngFor="#selectedUser of usersSelected" (click)="unselectUser(selectedUser)">{{selectedUser.firstname}} {{selectedUser.lastname}}</option>
          </select>
        </div>
      </td>
      <td>
        <div>
          <select size="5" class="form-control">
            <option *ngFor="#task of tasks" (click)="selectTask(task)">{{task.number}} - {{task.title}}</option>
          </select>
        </div>
      </td>
    </tr>

  </table>

  <table class="table table-hover">
    <tr>
      <td>
        <b>#</b>
      </td>
      <td>
        <b>Time</b>
      </td>
      <td>
        <b>Name</b>
      </td>
      <td>
        <b>Task</b>
      </td>
      <!-- TODO Authcheck for userRole -->
      <div>
        <td>

        </td>
        <td>

        </td>
      </div>
    </tr>
    <tr *ngFor="#element of queue?.list; #i = index">
      <td>
        {{i+1}}
      </td>
      <td>{{element.timeEntered}}</td>
      <td><span *ngFor="#user of element?.users"> - {{user.firstname}} </span> </td>
      <td>
        <span> {{element.task}}</span>
        <span *ngIf="element.helper"> - Helper: {{element.helper.firstname}}</span>
      </td>
      <!-- TODO Check for auth or own user -->
      <td class="text-right">
        <div class="btn-group btn-group-sm" *ngIf="teacherOrAssistent">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a (click)="helpQueueElement(element)">Help</a></li>
            <li><a href="#">Delay</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="removeQueueElement(element)">Remove group</a></li>
          </ul>
        </div>


        <button class="btn btn-danger btn-sm" *ngIf="checkIfMyUser(element)" (click)="removeQueueElement(element)">X</button>
      </td>
    </tr>
  </table>
</div>
<div *ngIf="!queue?.active">
  <h2>The queue is not active</h2>
</div>
<hr>
