<hr>
<h2>Queue</h2>
<button *ngIf="teacherOrAssistent" class="btn btn-primary btn-md" (click)="toggleQueueButton()">Activate/Deactivate Queue</button>

<div *ngIf="queue?.active">
  <div class="btn-group btn-group-sm" *ngIf="!teacherOrAssistent">
    <button class="btn btn-primary btn-md"  *ngIf="!myUserInQueue" data-toggle="modal" data-target="#queueModal">Queue</button>
    <a class="btn btn-primary btn-md" *ngIf="myUserInQueue" (click)="deleteFromQueue()">Remove me</a>
  </div>

  <!-- CAROUSEL -->

  <div id="carousel-generic" class="carousel slide" data-ride="carousel" data-interval="10000" *ngIf="locations.length > 0">
      <div class="carousel-inner" role="listbox">
          <div *ngFor="let loc of locations" class="item" [ngClass]="{active: isActive(loc.image)}">
              <img class="img-responsive" src='{{loc.image}}' alt="Oh noes! Something went wrong!">
              <div class="carousel-caption">
                <h3>{{loc.name}}</h3>
              </div>
          </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
  </div>

  <!-- /CAROUSEL -->

  <br><br>

  <table class="table table-hover">
    <tr>
      <td>
        <b>#</b>
      </td>
      <td>
        <b>Time</b>
      </td>
      <td>
        <b>Name</b>
      </td>
      <td>
        <b>Task</b>
      </td>
      <td>
        <b>Location</b>
      </td>
      <td>

      </td>

    </tr>
    <tr *ngFor="let element of queue?.list; let i = index">
      <td>
        {{i+1}}
      </td>
      <td>{{element.timeEntered}} <span *ngIf="element.helper"> - Helper: {{element.helper.firstname}}</span></td>
      <td><span *ngFor="let user of element?.users; let i = index"> <span *ngIf="i != 0"> - </span>{{user.firstname}}</span> </td>
      <td>
        <span> {{element.task}}</span>

      </td>
      <td>
        {{element.location.name}}<br> <!-- element.location.name -->
        {{element.location.table}} <!-- element.location.table -->
      </td>
      <td class="text-right">
        <div class="btn-group btn-group-sm" *ngIf="teacherOrAssistent">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li *ngIf="!element.helper"><a (click)="helpQueueElement(element)">Help</a></li>
            <li *ngIf="element.helper"><a (click)="acceptTask(element)">Accept</a></li>
            <li *ngIf="i +1 < queue.list.length"><a href="#" type="button" data-toggle="modal" data-target="#delayModal" (click)="onClickDelay(i, element)">Delay</a></li>

            <li role="separator" class="divider"></li>
            <li><a (click)="removeQueueElement(element)">Remove group</a></li>
          </ul>
        </div>


        <button class="btn btn-danger btn-sm" *ngIf="checkIfMyUser(element)" (click)="removeQueueElement(element)">X</button>
      </td>
    </tr>
  </table>
</div>
<div *ngIf="queue?.active != true">
  <h2>The queue is not active</h2>
</div>
<hr>



<!-- DELAYMODAL -->

<div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" id="delayModal" aria-labelledby="delayModalTitle">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="delayModalTitle">Delay</h4>
      </div>
      <div class="modal-body">
          <label for=""></label>
          <select class="form-control">
            <option *ngFor="let step of steppermax; let i = index" (select)="onDelaySelect(i)">{{i+1}} places</option>
          </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" (click)="onSubmitDelay()" class="btn btn-primary" data-dismiss="modal">Delay</button>
      </div>
    </div>
  </div>
</div>


<!-- QUEUEMODAL -->

<div class="modal bs-example-modal-lg" tabindex="-1" role="dialog" id="queueModal" aria-labelledby="delayModalTitle">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="queueModalTitle">Queue</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-6">
                <b>Task</b><br>
                <div>
                  <select size="5" class="form-control">
                    <option *ngFor="let task of tasks" (click)="selectTask(task)">{{task.number}} - {{task.title}}</option>
                  </select>
                </div>
                <br>
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-8">
                    <b>Location</b><br>
                    <select class="form-control" size="5">
                      <option *ngFor="let loc of locations" (click)="selectLocation(loc)">{{loc.name}}</option>
                    </select>
                    <br>
                  </div>
                  <div class="col-sm-4">
                    <b>Seat</b><br>
                    <select class="form-control">
                      <option *ngFor="let num of _selectedLocation?.count|range; let i = index" (click)="selectSeatnumber(i+1)"> {{i+1}}</option>
                    </select>
                    <br>
                  </div>
                </div>
                <br>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <b>Users in subject</b><br>
                <div>
                  <select size="5" class="form-control">
                    <option *ngFor="let user of studentsNotInQueue" (click)="selectUser(user)" draggable="true">{{user.firstname}} {{user.lastname}}</option>
                  </select>
                </div>
                <br>
              </div>
              <div class="col-sm-6">
                <b>Add friends</b><br>
                <div>
                  <select size="5" class="form-control">
                    <option *ngFor="let selectedUser of usersSelected" (click)="unselectUser(selectedUser)">{{selectedUser.firstname}} {{selectedUser.lastname}}</option>
                  </select>
                </div>
                <br>
              </div>

            </div>



          </div>
          <div class="col-sm-4">
            <div *ngIf="_selectedLocation">
              <img [src]="_selectedLocation.image" id="locationImage" alt=" Oh noes! You must have broken something :o" class="img-responsive"/>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" (click)="addQueueElement()" data-dismiss="modal" class="btn btn-primary">Queue</button>
      </div>
    </div>
  </div>
</div>
