<form class="container">

  <legend>Subject <span class="label label-success" *ngIf="new">New</span></legend>

  <!-- Code -->
  <div class="form-group row">
    <label class="form-control-label col-sm-2" for="code">Code</label>
    <div class="col-sm-10" >
      <input class="form-control"  name="code" [(ngModel)]="subject.code" required [disabled]="!new">
    </div>
  </div>

  <!-- Name -->
  <div class="form-group row">
    <label class="form-control-label col-sm-2"  for="name">Name</label>
    <div class="col-sm-10">
      <input class="form-control" name="name" [(ngModel)]="subject.name" required>
    </div>
  </div>
  <hr>
  <!-- Tasks -->
  <edit-tasks [tasks]="subject.tasks"></edit-tasks>
<hr>
  <!-- Requirements -->

  <edit-requirement [requirements]="subject.requirements" [count]="subject.tasks.length"></edit-requirement>


  <hr>


  <!-- Cancel Save buttons -->
  <div class="row">
    <div class="text-right">
      <button class="btn btn-default" type="button" (click)="cancelEdit()">Cancel</button>
      <button class="btn btn-success" type="button" (click)="save()">Save</button>
    </div>
  </div>
</form>
