<form class="">
  <fieldset>
    <legend>Subject</legend>

    <!-- Code -->
    <div class="form-group row">
      <label class="form-control-label col-sm-2" for="code">Code</label>
      <div class="col-sm-10" >
        <input class="form-control"  id="code" [(ngModel)]="subject.code" placeholder="TDAT1001" required [readonly]="!new">
      </div>
    </div>

    <!-- Name -->
    <div class="form-group row">
      <label class="form-control-label col-sm-2"  for="name">Name</label>
      <div class="col-sm-10">
        <input class="form-control" id="name" [(ngModel)]="subject.name" placeholder="Programmering Grunnkurs" required>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Users</legend>
    <!-- Teachers -->
    <edit-users  [role]="'Teacher'" [type]="'Teacher'" [label]="'Teachers'" [users]="teachers"></edit-users>

    <!-- Assistents -->
    <edit-users  [role]="'Assistent'" [type]="'Student'" [label]="'Assistents'" [users]="assistents"></edit-users>

    <!-- Students -->
    <!-- Own page for students
    <edit-users  [role]="'Student'" [type]="'Student'" [label]="'Students'" [users]="students"></edit-users>
    -->
  </fieldset>

  <fieldset>
    <legend>Tasks</legend>
    <!-- Tasks -->
    <edit-tasks [tasks]="subject.tasks"></edit-tasks>


    <!-- Requirements -->
    <edit-requirement [requirements]="subject.requirements" [count]="subject.tasks.length"></edit-requirement>

    <hr>

    <fieldset>

      <!-- Students -->

      <edit-locations [locations]="subject.locations"></edit-locations>


    </fieldset>

  </fieldset>

    <!-- Cancel Save buttons -->
    <div class="row">
      <div class="text-right">
        <button class="btn btn-outline btn-default btn-sm" type="button" (click)="cancel()">Cancel</button>
        <button class="btn btn-outline btn-success btn-sm" type="button" (click)="save()">Save</button>
      </div>
    </div>

</form>
