<ul class="nav nav-pills ">
  <li role="presentation" [class.active]="router.currentInstruction.component.routeName == 'AllPath'">
    <a [routerLink]="['AllPath']" >All Users</a>
  </li>
  <li role="presentation" [class.active]="router.currentInstruction.component.routeName == 'AddPath'">
    <a [routerLink]="['AddPath']">
      <span class="glyphicon glyphicon-plus"></span> User
    </a>
    </li>
  <li role="presentation" [class.active]="router.currentInstruction.component.routeName == 'AddClassPath'">
    <a [routerLink]="['AddClassPath']" >
      <span class="glyphicon glyphicon-plus"></span> Class
    </a>
    </li>
</ul>

<router-outlet></router-outlet>
