

<legend> <span>{{subject?.code}}{{subject?.name}}</span><small>- Edit Students</small></legend>


<div class="">
  <!-- Cancel Save buttons -->
  <div class="row">
    <div class="text-right">
      <button class="btn btn-outline btn-default btn-sm" type="button" (click)="cancel()">Cancel</button>
      <button class="btn btn-outline btn-success btn-sm" type="button" (click)="save()">Save</button>
    </div>
  </div>

  <br>
  <div class="row">

    <div class="col-sm-offset-8 col-sm-4 text-right">
      <input class="form-control" type="text" placeholder="Search" [(ngModel)]="query" (keyup)="doFilter()">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table">
        <thead>
          <tr>
            <th>
              <input type="checkbox" [(ngModel)]="allSelected" (click)="selectAll(!allSelected)">
            </th>
            <th>
              Name
            </th>
            <th>
              Rights
            </th>
            <th>
              Year
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users" >
            <td>
              <input type="checkbox" [(ngModel)]="user.selected">
            </td>
            <td>
              {{user.firstname}} {{user.lastname}}
            </td>
            <td>
              {{user.rights}}
            </td>
            <td>
              {{user.classOf}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
