
<legend>Add Class</legend>
<div class="form-group">
  <p>
    {{errorMsg}}
  </p>

  <label for="class">Class:</label>
  <input class="form-control" id="class" [(ngModel)]="class">
</div>

<div class="form-group" style="vertical-align: top;">
  <label for="users">Input:</label><br>
  <textarea class="form-control" [(ngModel)]="input" rows="8" cols="40"></textarea><br>
</div>

<div class="text-right">
  <button class="btn btn-default btn-sm" type="button" (click)="canceled.emit()">Cancel</button>

  <button class="btn btn-success btn-sm" type="button" (click)="save()">Save</button>
</div>


<br><br>
Format:
<div class="form-control" style="height:7em; overflow:scroll;">
  Fornavn,Etternavn,email <br>
  Fornavn,Etternavn,email <br>
  Fornavn,Etternavn,email <br>
  Fornavn,Etternavn,email
</div>
